  <!-- Breadcrum -->
  <div class="container-fluid bg-info mt-1 " style="height: 40px;">
    <div class="container pt-1">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#!/">Trang chủ</a></li>
          <li class="breadcrumb-item active">Liên hệ</li>
        </ul>
    </div>
  </div>

    <!-- Contant Content -->
  <div class="container " style="margin-bottom:100px;">
    <div class="my-3 ">
      <h3>Liên hệ</h3>
    </div>
    <!-- Form Contant -->
    <div>
      <p><i class="bi bi-chat-dots"></i> Bạn muốn liên lạc với chúng tôi ? </p>
      <form action="" >
        <div class="row"> 
          <div class="col">
            <div class="mb-3 mt-1 ">
              <input type="text" class="form-control" id="name" placeholder="Tên bạn là gì ?" name="name">
            </div>
            <div class="mb-3  mt-1 ">
              <input type="email" class="form-control" id="email" placeholder="Email của bạn" name="email">
            </div>
            <div class="mb-">
              <input type="number" class="form-control" id="phone" placeholder="Số điện thoại" name="phone">
            </div>
          </div>
          <div class="col">
            <textarea class="form-control" rows="6" id="comment" name="enquiry" placeholder="Yêu cầu của bạn"></textarea>
          </div>
        </div>
        <div class="">
          <input type="button" class="btn btn-primary float-end mt-3" value="Gửi">
        </div>
      </form>
    </div>
    </div>