  <!-- Breadcrum -->
  <div class="container-fluid bg-info mt-1 " style="height: 40px;">
    <div class="container pt-1">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="./../index.html">Trang chủ</a></li>
          <li class="breadcrumb-item active">Giới thiệu</li>
        </ul>
    </div>
  </div>

  <!-- Intro Content -->
  <div style="margin-bottom:100px;">
    <div class="container mt-3 " >
      <!-- Image -->
      <h2>Giới thiệu về trang web</h2>
      <div class="text-center ">
        <img src="/assets/image/slideshow1.jpg" alt="">
      </div>
      <!--  -->
      <div class="mx-5 ">
        <p>Chào mừng đến với trang giới thiệu của chúng tôi! 
          Chúng tôi tự hào giới thiệu đến bạn một trang web quizz thú vị và hấp dẫn.
          Được thiết kế để mang lại trải nghiệm học tập và giải trí tuyệt vời, chúng tôi hy vọng rằng trang web quizz của chúng tôi sẽ làm bạn thích thú và hào hứng.
          Trang web quizz của chúng tôi cung cấp một loạt các câu hỏi từ nhiều lĩnh vực khác nhau, bao gồm khoa học, lịch sử, văn hóa, địa lý, ngôn ngữ, nghệ thuật và nhiều hơn nữa. 
          Với hàng trăm câu hỏi được tổ chức theo cấp độ khó khác nhau, bạn sẽ có cơ hội thử thách kiến thức của mình và khám phá những điều mới mẻ.</p>
          
        <p>Trang web quizz của chúng tôi cũng mang đến cho bạn một cách thức thú vị để kiểm tra kiến thức và cạnh tranh với bạn bè hoặc người khác trên toàn thế giới. 
          Bạn có thể tham gia vào các cuộc thi, so tài với người chơi khác và đạt được điểm số cao để leo lên bảng xếp hạng.
          Giao diện của trang web quizz được thiết kế đơn giản và dễ sử dụng, cho phép bạn dễ dàng duyệt qua các câu hỏi và chọn câu trả lời của mình. 
          Bạn cũng có thể chọn chế độ chơi một mình hoặc tham gia vào các cuộc thi đa người chơi để thử thách và giành chiến thắng.</p>
          
        <p>Với trang web quizz của chúng tôi, chúng tôi hy vọng rằng bạn sẽ không chỉ tận hưởng những giờ phút giải trí thú vị, mà còn mở rộng kiến thức và khám phá thêm về thế giới xung quanh chúng ta. 
          Hãy tham gia ngay và bắt đầu cuộc hành trình kiến thức đầy thú vị cùng chúng tôi!</p>
      </div>
    </div>
  </div>