  <!-- Breadcrum -->
  <div class="container-fluid bg-info mt-1 " style="height: 40px;">
    <div class="container pt-1">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#!/">Trang chủ</a></li>
          <li class="breadcrumb-item"><a href="#!/Q&A">Trang chủ</a></li>
          <li class="breadcrumb-item active">Tiêu đề bài viết</li>
        </ul>
    </div>
  </div>

  <!-- Intro Content -->
  <div style="margin-bottom:100px;">
    <div class="container mt-3 " >
      <!-- Image -->
      <h2></h2>
      <div class="text-center ">
        <img src="/assets/image/slideshow1.jpg" alt="">
      </div>
      <h5 class="card-title">Tiêu đề bài viết 1</h5>

      <!--  -->
      <div class="mx-5 ">
        <p class="card-text">Nội dung bài viết 1</p>
      </div>
    </div>
  </div>