<!-- Breadcrum -->
<div class="container-fluid bg-info mt-1 " style="height: 40px;">
    <div class="container pt-1">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#!/">Trang chủ</a></li>
          <li class="breadcrumb-item active">Hỏi đáp</li>
        </ul>
    </div>
  </div>

  <!-- Q&A-->

  <div class="container mt-5" style="height: 1000px;">
    <h3>Hỏi đáp</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="container">
          <div>
            <div class="card mb-4 d-flex flex-row ">
              <div>
                <a href="">
                  <img src="/assets/image/feature1.jpg" class="card-img-top" alt="Ảnh bài viết">
                </a>
              </div>
              <div class="card-body">
                <a href="">
                  <h5 class="card-title">Tiêu đề bài viết 1</h5>
                </a>
                <p class="card-text">Nội dung bài viết 1</p>
              </div>
            </div>
          </div>
          <div>
            <div class="card mb-4 d-flex flex-row ">
              <div>
                <a href="">
                  <img src="/assets/image/feature1.jpg" class="card-img-top" alt="Ảnh bài viết">
                </a>
              </div>
              <div class="card-body">
                <a href="">
                  <h5 class="card-title">Tiêu đề bài viết 1</h5>
                </a>
                <p class="card-text">Nội dung bài viết 1</p>
              </div>
            </div>
          </div>
          <div>
            <div class="card mb-4 d-flex flex-row ">
              <div>
                <a href="">
                  <img src="/assets/image/feature1.jpg" class="card-img-top" alt="Ảnh bài viết">
                </a>
              </div>
              <div class="card-body">
                <a href="">
                  <h5 class="card-title">Tiêu đề bài viết 1</h5>
                </a>
                <p class="card-text">Nội dung bài viết 1</p>
              </div>
            </div>
          </div>
          <div>
            <div class="card mb-4 d-flex flex-row ">
              <div>
                <a href="">
                  <img src="/assets/image/feature1.jpg" class="card-img-top" alt="Ảnh bài viết">
                </a>
              </div>
              <div class="card-body">
                <a href="">
                  <h5 class="card-title">Tiêu đề bài viết 1</h5>
                </a>
                <p class="card-text">Nội dung bài viết 1</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>