<!-- Breadcrum -->
<div class="container-fluid bg-info mt-1 " style="height: 40px;">
    <div class="container pt-1">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="./../index.html">Trang chủ</a></li>
          <li class="breadcrumb-item active">Hỏi đáp</li>
        </ul>
    </div>
  </div>

  <!-- Q&A-->

  <div class="container mt-5" style="height: 300px;">
    <h3>Hỏi đáp</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <a href="" class="text-decoration-none text-black fs-4 ">Fix login issues on websites that require a username and password </a>
      </li>
      <li class="list-group-item">
        <a href="" class="text-decoration-none text-black fs-4 ">Fix login issues on websites that require a username and password </a>
      </li>
      <li class="list-group-item">
        <a href="" class="text-decoration-none text-black fs-4 ">Fix login issues on websites that require a username and password </a>
      </li>
    </ul>
  </div>