<!-- Breadcrum -->
<div class="container-fluid bg-info mt-1" style="height: 40px">
  <div class="container pt-1">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="./index.html">Trang chủ</a></li>
      <li class="breadcrumb-item">
        <a href="./categorypage1.html">JavaScript Cơ Bản</a>
      </li>
      <li class="breadcrumb-item">
        <a href="./quizz.html">Quiz số 1</a>
      </li>
      <li class="breadcrumb-item active">Question</li>
    </ul>
  </div>
</div>

<div class="container p-4"></div>

<!-- Begin container -->
<div class="container" style="margin-bottom: 100px;">
  <!-- Begin card -->
  <div class="card shadow rounded border-info">
    <!-- Begin body -->
    <div class="card-body" >
      <div ng-show="quizz.questions.length > 0">
        <div ng-show="quizz.currentQuestion < quizz.questions.length">
          <h2 >Câu hỏi {{ quizz.currentQuestion + 1 }}</h2>
          <p>{{ quizz.questions[quizz.currentQuestion].question }}</p>
          <ul>
            <li ng-repeat="option in quizz.questions[quizz.currentQuestion].options">
              <label>
                <input type="radio" class="form-check-input" name="option" ng-model="quizz.questions[quizz.currentQuestion].selectedOption" value="{{ $index }}" />
                {{option}}
            </li>
          </ul>
          <button ng-click="checkAnswer()" class="btn btn-primary float-end me-3">Kiểm tra</button>
        </div>
        <div ng-show="quizz.currentQuestion >= quizz.questions.length" class="text-center ">
          <h2>Kết quả</h2>
          <p>Số điểm của bạn: {{ quizz.score }}</p>
          <button ng-click="resetQuiz()" class="btn btn-info">Làm lại</button>
        </div>
      </div>
      <div ng-show="quizz.questions.length === 0">
        <p>Đang tải câu hỏi...</p>
      </div>
    </div>
  </div>
</div>
<br />
